/* =========================
   Shared responsive
   ========================= */

:root {
  /* fonts */
  --font-primary: "Ubuntu", sans-serif;
  --font-secondary: "Lora", sans-serif;

  /* colors */
  --color-bg-primary: #101010;
  --color-bg-secondary: #151515;
  --color-white: #fff;
  --color-brand-normal: #f9fbe7;
  --color-brand-active: #c2d30d;
  --color-brand-hover: #747f08;

  /* line-height */
  --lh-120: 1.2;
}

.page {
  font-family: var(--font-primary, sans-serif);
  font-weight: 700;
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__menu {
  color: var(--color-brand-normal);
  font-size: 1.563rem;
  line-height: var(--lh-120);
}

.header__menu-buttons {
  display: none;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 103px;
}

.header__link.header__link_active {
  color: var(--color-brand-active);
  cursor: default;
}

.header__link:hover {
  transition: color 0.3s ease;
  color: var(--color-brand-hover);
  cursor: pointer;
}

.header__link.header__link_active:hover {
  color: var(--color-brand-active);
  cursor: default;
}

.header__logo-image {
  width: clamp(2.5rem, 4vw, 4.5rem);
  height: clamp(1.6875rem, 2.7vw, 3rem);
  object-fit: contain;
}

/* burger menu */
.burger__wrap {
  display: none;
  align-items: center;
  gap: 10px;
}

.burger-checkbox {
  display: none;
}

.burger {
  position: relative;
  width: 25px;
  height: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burger::after,
.burger::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  background: var(--color-brand-normal);
  transition: all 0.3s ease;
}

.burger::before {
  top: 0;
  box-shadow: 0 6px 0 var(--color-brand-normal);
}

.burger::after {
  bottom: 0;
}

.burger-checkbox:checked + .burger::before {
  transform: rotate(45deg);
  box-shadow: none;
  top: 6px;
}

.burger-checkbox:checked + .burger::after {
  transform: rotate(-45deg);
  top: 6px;
}

.burger-close-text {
  color: var(--color-brand-normal);
  font-size: 14px;
  font-weight: 400;
  display: none;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* hero section */
.hero {
  position: relative;
  width: 100%;
  height: 557px;
  overflow: hidden;
}

.hero__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.hero__content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  line-height: var(--lh-120);
}

.hero__title {
  font-size: 3.813rem;
  color: var(--color-brand-normal);
  margin-bottom: 24px;
  max-width: 977px;
}

.hero__description {
  font-weight: 400;
  font-size: 1.563rem;
  color: var(--color-white);
  max-width: 863px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

/* partners section */
.partners {
  margin-top: 40px;
  margin-bottom: 40px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* media */
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1240px;
  }

  /* header section max=1440px*/
  .header {
    padding-top: 21px;
    padding-bottom: 23px;
  }

  .header__logo-image {
    width: clamp(53px, 53px + (54 - 53) * ((100vw - 430px) / (1440 - 430)), 54px);
    height: clamp(35px, 35px + (36 - 35) * ((100vw - 430px) / (1440 - 430)), 36px);
  }

  /* hero section max=1440px*/
  .hero {
    height: clamp(350px, 350px + (418 - 350) * ((100vw - 768px) / (1440 - 768)), 418px);
  }

  .hero__title {
    font-size: clamp(1.9375rem, -0.2054rem + 4.4643vw, 3.8125rem);
    max-width: clamp(500px, 500px + (977 - 500) * ((100vw - 768px) / (1440 - 768)), 977px);
  }

  .hero__description {
    font-size: clamp(0.875rem, 0.0893rem + 1.6369vw, 1.5625rem);
    max-width: clamp(514px, 514px + (863 - 514) * ((100vw - 768px) / (1440 - 768)), 863px);
  }

  /* partners section max=1440px*/
  .partners {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .partners__item img {
    max-width: 71.4%;
    height: auto;
  }
}

@media screen and (max-width: 1200px) {
  /* header section max=1200px*/
  .header {
    position: relative;
    z-index: 3;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #232323;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__menu-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    width: 100%;
    padding: 0 20px;
  }

  .header__menu-button {
    display: block;
    padding: 10px 0;
    flex: 1;
    background: #797d46;
    color: #f9fafb;
    text-align: center;
    border-radius: 10px;
    font-weight: 400;
    font-size: clamp(1.0625rem, 0.7833rem + 1.039vw, 1.5625rem);
    transition: background-color 0.3s ease;
  }

  .header__menu-button:hover {
    background: #929e0a;
  }

  .header__logo {
    position: relative;
    z-index: 4;
  }

  .header__menu.active {
    transform: translateX(0);
  }

  .header__menu .header__links-list {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
  }

  .header__menu .header__link {
    display: block;
    padding: 12px 0;
    background-color: #292929;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .header__menu .header__link:hover {
    background: #1c1c1c;
    color: #f2f4f7;
  }

  .header__menu .header__link.header__link_active {
    background: var(--color-bg-secondary);
    color: var(--color-brand-active);
  }

  .burger__wrap {
    display: flex;
    flex-direction: row-reverse;
    z-index: 4;
  }

  .burger-checkbox:checked ~ .burger-close-text {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
  }

  .burger-checkbox:checked + .burger::before {
    transform: rotate(45deg);
    box-shadow: none;
    top: 6px;
  }

  .burger-checkbox:checked + .burger::after {
    transform: rotate(-45deg);
    top: 6px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }

  /* header section max=768px*/
  .header {
    padding: 12px 30px;
  }

  .header__menu .header__links-list {
    padding: 0 30px;
  }

  .header__menu-buttons {
    padding: 0 30px;
  }

  /* hero section max=768px*/
  .hero {
    height: clamp(262px, 262px + (350 - 262) * ((100vw - 430px) / (768 - 430)), 350px);
  }

  .hero__title {
    font-size: clamp(1.5625rem, 1.0854rem + 1.7751vw, 1.9375rem);
    max-width: clamp(363px, 363px + (500 - 363) * ((100vw - 430px) / (768 - 430)), 500px);
    margin-bottom: 7px;
  }

  .hero__description {
    font-size: 14px;
    max-width: 514px;
  }

  /* partners section max=768px*/
  .partners {
    position: relative;
    margin-top: -63px;
    z-index: 2;
  }

  .partners__item img {
    max-width: 79%;
    height: auto;
  }
}

@media screen and (max-width: 620px) {
  /* hero section max=620px*/
  .hero__title {
    text-align: center;
    margin: 0 auto;
  }

  .hero__description {
    display: none;
  }

  /* partners section max=620px*/
  .partners__item img {
    max-width: 85%;
    height: auto;
  }
}

@media screen and (max-width: 430px) {
  .container {
    max-width: 430px;
  }

  /* header section max=430px*/
  .header__logo-image {
    width: clamp(54px, 54px + (72 - 54) * ((100vw - 1440px) / (1920 - 1440)), 72px);
    height: clamp(36px, 36px + (48 - 36) * ((100vw - 1440px) / (1920 - 1440)), 48px);
  }

  .header__menu-buttons {
    gap: 10px;
  }

  /* hero section max=430px*/
  .hero {
    height: 262px;
  }

  .hero__title {
    font-size: clamp(1.25rem, 0.3409rem + 4.5455vw, 1.5625rem);
  }

  .overlay {
    background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }
}
