@media screen and (max-width: 1440px) {
  .container {
    max-width: 1240px;
  }

  .header {
    padding-top: 21px;
    padding-bottom: 23px;
  }

  .header__logo-image {
    width: clamp(53px, 53px + (54 - 53) * ((100vw - 430px) / (1440 - 430)), 54px);
    height: clamp(35px, 35px + (36 - 35) * ((100vw - 430px) / (1440 - 430)), 36px);
  }

  .hero {
    height: clamp(350px, 350px + (418 - 350) * ((100vw - 768px) / (1440 - 768)), 418px);
  }

  .hero__title {
    font-size: clamp(1.9375rem, -0.2054rem + 4.4643vw, 3.8125rem);
    max-width: clamp(500px, 500px + (977 - 500) * ((100vw - 768px) / (1440 - 768)), 977px);
  }

  .hero__description {
    font-size: clamp(0.875rem, 0.0893rem + 1.6369vw, 1.5625rem);
    max-width: clamp(514px, 514px + (863 - 514) * ((100vw - 768px) / (1440 - 768)), 863px);
  }

  .partners {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .partners__item img {
    max-width: 71.4%;
    height: auto;
  }

  .services__title {
    margin-top: 38px;
    font-size: clamp(1.25rem, 0.4643rem + 1.6369vw, 1.9375rem);
  }

  .services {
    margin-bottom: 73px;
  }

  .services__card {
    height: 653px;
  }

  .equipment__title {
    padding-top: 77px;
    margin-bottom: 32px;
    font-size: clamp(1.9375rem, 0.2897rem + 5.7692vw, 3.8125rem);
  }

  .equipment__image {
    margin-bottom: 11px;
  }

  .equipment__card-title {
    margin-bottom: 17px;
  }

  .equipment__description {
    max-width: 265px;
  }

  .portfolio {
    padding-top: 11px;
  }

  .portfolio__title {
    font-size: clamp(1.9375rem, 0.2897rem + 5.7692vw, 3.8125rem);
  }

  .contact {
    padding-top: 82px;
  }

  .contact__title {
    margin-bottom: 4px;
    font-size: clamp(1.9375rem, 0.2897rem + 5.7692vw, 3.8125rem);
  }

  .contact__buttons {
    gap: 23px;
    margin-bottom: 138px;
  }

  .contact__button {
    padding: 5px 14px;
  }

  .contact-footer__content {
    padding: 15px 0;
  }

  .contact__ellipse {
    width: 1444px;
    height: 721px;
    top: 4vh;
  }

  .contact__description {
    margin-bottom: 39px;
  }

  .contact-footer__address,
  .contact-footer__copyright {
    font-size: clamp(0.6875rem, -0.2951rem + 2.9586vw, 1.125rem);
  }
}

@media screen and (max-width: 1200px) {
  .header {
    position: relative;
    z-index: 3;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #232323;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__menu-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    width: 100%;
    padding: 0 20px;
  }

  .header__menu-button {
    display: block;
    padding: 10px 0;
    flex: 1;
    background: #797d46;
    color: #f9fafb;
    text-align: center;
    border-radius: 10px;
    font-weight: 400;
    font-size: clamp(1.0625rem, 0.7833rem + 1.039vw, 1.5625rem);
    transition: background-color 0.3s ease;
  }

  .header__menu-button:hover {
    background: #929e0a;
  }

  .header__logo {
    position: relative;
    z-index: 4;
  }

  .header__menu.active {
    transform: translateX(0);
  }

  .header__menu .header__links-list {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
  }

  .header__menu .header__link {
    display: block;
    padding: 12px 0;
    background-color: #292929;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .header__menu .header__link:hover {
    background: #1c1c1c;
    color: #f2f4f7;
  }

  .header__menu .header__link.header__link_active {
    background: var(--color-bg-secondary);
    color: var(--color-brand-active);
  }

  .burger__wrap {
    display: flex;
    flex-direction: row-reverse;
    z-index: 4;
  }

  .burger-checkbox:checked ~ .burger-close-text {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
  }

  .burger-checkbox:checked + .burger::before {
    transform: rotate(45deg);
    box-shadow: none;
    top: 6px;
  }

  .burger-checkbox:checked + .burger::after {
    transform: rotate(-45deg);
    top: 6px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }

  .header {
    padding: 12px 30px;
  }

  .header__menu .header__links-list {
    padding: 0 30px;
  }

  .header__menu-buttons {
    padding: 0 30px;
  }

  .hero {
    height: clamp(262px, 262px + (350 - 262) * ((100vw - 430px) / (768 - 430)), 350px);
  }

  .hero__title {
    font-size: clamp(1.5625rem, 1.0854rem + 1.7751vw, 1.9375rem);
    max-width: clamp(363px, 363px + (500 - 363) * ((100vw - 430px) / (768 - 430)), 500px);
    margin-bottom: 7px;
  }

  .hero__description {
    font-size: 14px;
    max-width: 514px;
  }

  .partners {
    position: relative;
    margin-top: -63px;
    z-index: 2;
  }

  .partners__item img {
    max-width: 79%;
    height: auto;
  }

  .services {
    margin-bottom: 0;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .services__card {
    justify-content: flex-end;
    width: auto;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .card--building {
    background-image: url(../../img/oznakowanie-budynkow-768.webp);
  }
  .card--vehicles {
    background-image: url(../../img/oklejanie-pojazdow-768.webp);
  }
  .card--interiors {
    background-image: url(../../img/wyposazenie-wnetrz-768.webp);
  }
  .card--signs {
    background-image: url(../../img/kasetony-reklamowe-768.webp);
  }

  .services__title {
    font-size: clamp(0.8125rem, 0.2559rem + 2.071vw, 1.25rem);
    margin-bottom: 37px;
  }

  .services__card .overlay {
    background: linear-gradient(0deg, #000 0.02%, rgba(0, 0, 0, 0) 49.96%);
  }

  .equipment {
    padding-bottom: 75px;
  }

  .equipment__title {
    text-align: center;
    font-size: clamp(1.25rem, 0.3754rem + 3.2544vw, 1.9375rem);
    max-width: 457px;
    margin: 0 auto;
    padding-top: 56px;
    margin-bottom: 34px;
  }

  .equipment__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    text-align: center;
  }

  .equipment__image {
    margin-bottom: 28px;
  }

  .equipment__card-title {
    font-size: clamp(1rem, 0.682rem + 1.1834vw, 1.25rem);
    margin-bottom: 0;
  }

  .equipment__description {
    font-size: clamp(0.6875rem, 0.449rem + 0.8876vw, 0.875rem);
    max-width: 344px;
  }

  .portfolio__title {
    max-width: 370px;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(1.25rem, 0.3754rem + 3.2544vw, 1.9375rem);
    padding-top: 53px;
    margin-bottom: 33px;
  }

  #portfolio .splide__pagination__page,
  #portfolio .splide__pagination__page.is-active {
    width: 10px;
    height: 10px;
  }

  .contact {
    padding-top: 206px;
  }

  .contact__title {
    font-size: clamp(1.5625rem, 1.0854rem + 1.7751vw, 1.9375rem);
  }

  .contact__description {
    font-size: clamp(0.6875rem, 0.449rem + 0.8876vw, 0.875rem);
    margin-bottom: 36px;
  }

  .contact__buttons {
    margin-bottom: 120px;
  }

  .footer__title {
    display: block;
    font-size: clamp(1.5625rem, 1.0854rem + 1.7751vw, 1.9375rem);
    margin-right: 130px;
  }

  .contact-footer__content {
    flex-direction: column;
    gap: 12px;
    padding: 50px 0;
  }

  .contact-footer__company + .contact-footer__company {
    text-align: left;
  }

  .contact-footer__author {
    text-align: center;
  }

  .contact__icon {
    width: 17px;
    height: 17px;
  }

  .contact__ellipse {
    width: 1537px;
    height: 863px;
    top: 8vh;
  }
}

@media screen and (max-width: 620px) {
  .hero__title {
    text-align: center;
    margin: 0 auto;
  }

  .hero__description {
    display: none;
  }

  .partners__item img {
    max-width: 85%;
    height: auto;
  }
}

@media screen and (max-width: 430px) {
  .container {
    max-width: 430px;
  }

  .header__logo-image {
    width: clamp(54px, 54px + (72 - 54) * ((100vw - 1440px) / (1920 - 1440)), 72px);
    height: clamp(36px, 36px + (48 - 36) * ((100vw - 1440px) / (1920 - 1440)), 48px);
  }

  .header__menu-buttons {
    gap: 10px;
  }

  .hero {
    height: 262px;
  }

  .hero__title {
    font-size: clamp(1.25rem, 0.3409rem + 4.5455vw, 1.5625rem);
  }

  .overlay {
    background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }

  .services {
    padding-top: 27px;
    padding-bottom: 24px;
  }

  .services__title {
    font-size: 12px;
    margin-bottom: 21px;
  }

  .services__list {
    row-gap: 12px;
  }

  .services__card {
    aspect-ratio: 1 / 1;
  }

  .equipment {
    padding-bottom: 34px;
  }

  .equipment__list {
    row-gap: 28px;
  }

  .equipment__title {
    padding-top: 34px;
    margin-bottom: 15px;
  }

  .equipment__image {
    margin-bottom: 15px;
  }

  .equipment__card-title {
    margin-bottom: 7px;
  }

  .portfolio__title {
    max-width: 275px;
    padding-top: 24px;
    margin-bottom: 28px;
  }

  .contact {
    padding-top: 80px;
  }

  .contact__title {
    margin-bottom: 4px;
  }

  .contact__description {
    margin-bottom: 18px;
    font-size: clamp(0.75rem, 0.9318rem + -0.9091vw, 0.6875rem);
  }

  .contact__button {
    padding: 8px 13px;
  }

  .contact__buttons {
    margin-bottom: 59px;
  }

  .contact__icon {
    width: 17px;
    height: 17px;
  }

  .contact__text {
    font-size: clamp(0.5rem, -0.9545rem + 7.2727vw, 1rem);
  }

  .contact__ellipse {
    width: 843px;
    height: 473px;
    top: 7vh;
  }
}

@media screen and (max-width: 320px) {
  .services__title {
    margin-bottom: 12px;
  }

  #portfolio .splide__pagination__page,
  #portfolio .splide__pagination__page.is-active {
    width: 10px;
    height: 10px;
  }

  .contact__button {
    padding: 4px 8px;
  }
}
