@media screen and (max-width: 1440px) {
  .container {
    max-width: 1240px;
  }

  .header {
    padding-top: 21px;
    padding-bottom: 23px;
  }

  .header__logo-image {
    width: clamp(53px, 53px + (54 - 53) * ((100vw - 430px) / (1440 - 430)), 54px);
    height: clamp(35px, 35px + (36 - 35) * ((100vw - 430px) / (1440 - 430)), 36px);
  }

  .header__back-link {
    font-size: clamp(1.125rem, 0.625rem + 1.0417vw, 1.5625rem);
  }

  .hero {
    height: clamp(350px, 350px + (418 - 350) * ((100vw - 768px) / (1440 - 768)), 418px);
  }

  .hero__title {
    font-size: clamp(1.9375rem, -0.2054rem + 4.4643vw, 3.8125rem);
    max-width: clamp(500px, 500px + (977 - 500) * ((100vw - 768px) / (1440 - 768)), 977px);
  }

  .hero__description {
    font-size: clamp(0.875rem, 0.0893rem + 1.6369vw, 1.5625rem);
    max-width: clamp(514px, 514px + (863 - 514) * ((100vw - 768px) / (1440 - 768)), 863px);
  }

  .partners {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .partners__item img {
    max-width: 71.4%;
    height: auto;
  }

  .advantages__text p:last-child {
    margin-bottom: 25px;
  }

  .advantages__title {
    font-size: clamp(1.25rem, -0.1071rem + 2.8274vw, 2.4375rem);
    max-width: 600px;
  }

  .advantages__paragraph {
    font-size: clamp(0.9375rem, 0.7232rem + 0.4464vw, 1.125rem);
  }

  .cooperation__paragraph {
    font-size: clamp(0.9375rem, -0.2054rem + 2.381vw, 1.9375rem);
  }

  .production__title {
    font-size: clamp(1.25rem, -0.1071rem + 2.8274vw, 2.4375rem);
    max-width: 820px;
  }

  .production__item-title {
    font-size: clamp(1rem, -0.0714rem + 2.2321vw, 1.9375rem);
    max-width: 180px;
  }

  .benefits__title {
    font-size: clamp(1.25rem, -0.1071rem + 2.8274vw, 2.4375rem);
  }

  .benefits__item-title {
    font-size: clamp(1.0625rem, 0.4911rem + 1.1905vw, 1.5625rem);
  }

  .benefits__item-text {
    font-size: clamp(0.9375rem, 0.7232rem + 0.4464vw, 1.125rem);
  }

  .map {
    height: clamp(400px, 35vw, 527px);
  }

  .footer .container {
    gap: clamp(10px, 3vw, 45px);
  }

  .footer__logo {
    width: clamp(90px, 12vw, 175px);
  }

  .footer__contact {
    font-size: clamp(1.125rem, 0.625rem + 1.0417vw, 1.5625rem);
    max-width: clamp(300px, 21vw, 405px);
  }

  .footer-brand {
    gap: clamp(10px, 3vw, 45px);
  }

  .form-submit {
    font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
  }
}

@media screen and (max-width: 1200px) {
  .header {
    position: relative;
    z-index: 3;
  }

  .header__logo {
    position: relative;
    z-index: 4;
  }

  .advantages .container {
    display: block;
  }

  .advantages__paragraph {
    max-width: none;
  }

  .advantages__img {
    max-width: none;
    height: clamp(280px, 40vw, 480px);
    object-fit: cover;
    object-position: left;
  }

  .production {
    padding: 70px 0;
  }
}

@media screen and (max-width: 1000px) {
  .modal__content {
    grid-template-columns: 1fr;
    max-height: 90vh;
    overflow-y: auto;
  }

  .modal__text {
    padding: 80px 30px 30px 50px;
  }

  .benefits {
    padding: 70px 0;
  }

  .footer__logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }

  .header {
    padding: 12px 30px;
  }

  .header__back-link {
    font-size: clamp(0.875rem, 0.6071rem + 1.3393vw, 1.25rem);
  }

  .hero {
    height: clamp(262px, 262px + (350 - 262) * ((100vw - 430px) / (768 - 430)), 350px);
  }

  .hero__title {
    font-size: clamp(1.5625rem, 1.0854rem + 1.7751vw, 1.9375rem);
    max-width: clamp(363px, 363px + (500 - 363) * ((100vw - 430px) / (768 - 430)), 500px);
    margin-bottom: 7px;
  }

  .hero__description {
    font-size: 14px;
    max-width: 514px;
  }

  .partners {
    position: relative;
    margin-top: -63px;
    z-index: 2;
  }

  .partners__item img {
    max-width: 79%;
    height: auto;
  }

  .partners {
    margin-bottom: 70px;
  }

  .advantages {
    margin-bottom: 25px;
  }

  .advantages .container {
    display: block;
  }

  .cooperation {
    display: none;
  }

  .production__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .production__item {
    display: grid;
    width: 100%;
    height: 160px;
    overflow: hidden;
  }

  .modal__title {
    font-size: clamp(1.25rem, 0.4018rem + 4.2411vw, 2.4375rem);
  }

  .modal__text {
    padding-top: clamp(30px, -5.71px + 11.16vw, 80px);
  }

  .modal__text,
  .modal__paragraph {
    font-size: clamp(0.9375rem, 0.8036rem + 0.6696vw, 1.125rem);
  }

  .modal__close {
    top: clamp(5px, -5.71px + 3.35vw, 20px);
    right: clamp(5px, -5.71px + 3.35vw, 20px);
  }
  
  .benefits__list {
    grid-template-columns: 1fr;
  }

  .footer .container {
    flex-direction: column;
    align-items: stretch;
  }

  .footer__address {
    margin-bottom: 20px;
  }

  .footer__address p:nth-child(3) {
    margin-bottom: 20px;
  }

  .footer__hours {
    margin-bottom: 20px;
  }

  .footer-form input,
  .footer-form textarea {
    padding: 10px;
  }
}

@media screen and (max-width: 620px) {
  .hero__title {
    text-align: center;
    margin: 0 auto;
  }

  .hero__description {
    display: none;
  }

  .partners__item img {
    max-width: 85%;
    height: auto;
  }
}

@media screen and (max-width: 430px) {
  .container {
    max-width: 430px;
  }

  .header__logo-image {
    width: clamp(54px, 54px + (72 - 54) * ((100vw - 1440px) / (1920 - 1440)), 72px);
    height: clamp(36px, 36px + (48 - 36) * ((100vw - 1440px) / (1920 - 1440)), 48px);
  }

  .hero {
    height: 262px;
  }

  .hero__title {
    font-size: clamp(1.25rem, 0.3409rem + 4.5455vw, 1.5625rem);
  }

  .overlay {
    background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }

  .benefits__item {
    flex-direction: column;
    gap: 10px;
  }

  .benefits__item {
    align-items: flex-start;
  }
}
