:root {
  /* fonts */
  --font-primary: "Ubuntu", sans-serif;
  --font-secondary: "Lora", sans-serif;

  /* colors */
  --color-bg-primary: #101010;
  --color-bg-secondary: #151515;
  --color-white: #fff;
  --color-brand-normal: #f9fbe7;
  --color-brand-active: #c2d30d;
  --color-brand-hover: #747f08;

  /* line-height */
  --lh-120: 1.2;
}

.page {
  font-family: var(--font-primary, sans-serif);
  font-weight: 700;
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__menu {
  color: var(--color-brand-normal);
  font-size: 1.563rem;
  line-height: var(--lh-120);
}

.header__menu-buttons {
  display: none;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 103px;
}

.header__link.header__link_active {
  color: var(--color-brand-active);
  cursor: default;
}

.header__link:hover {
  transition: color 0.3s ease;
  color: var(--color-brand-hover);
  cursor: pointer;
}

.header__link.header__link_active:hover {
  color: var(--color-brand-active);
  cursor: default;
}

.header__logo-image {
  width: clamp(2.5rem, 4vw, 4.5rem);
  height: clamp(1.6875rem, 2.7vw, 3rem);
  object-fit: contain;
}

/* burger menu */
.burger__wrap {
  display: none;
  align-items: center;
  gap: 10px;
}

.burger-checkbox {
  display: none;
}

.burger {
  position: relative;
  width: 25px;
  height: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burger::after,
.burger::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  background: var(--color-brand-normal);
  transition: all 0.3s ease;
}

.burger::before {
  top: 0;
  box-shadow: 0 6px 0 var(--color-brand-normal);
}

.burger::after {
  bottom: 0;
}

.burger-checkbox:checked + .burger::before {
  transform: rotate(45deg);
  box-shadow: none;
  top: 6px;
}

.burger-checkbox:checked + .burger::after {
  transform: rotate(-45deg);
  top: 6px;
}

.burger-close-text {
  color: var(--color-brand-normal);
  font-size: 14px;
  font-weight: 400;
  display: none;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* hero section */
.hero {
  position: relative;
  width: 100%;
  height: 557px;
  overflow: hidden;
}

.hero__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.hero__content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  line-height: var(--lh-120);
}

.hero__title {
  font-size: 3.813rem;
  color: var(--color-brand-normal);
  margin-bottom: 24px;
  max-width: 977px;
}

.hero__description {
  font-weight: 400;
  font-size: 1.563rem;
  color: var(--color-white);
  max-width: 863px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

/* partners section */
.partners {
  margin-top: 40px;
  margin-bottom: 147px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
}