:root {
  /* fonts */
  --font-primary: "Ubuntu", sans-serif;
  --font-secondary: "Lora", sans-serif;

  /* colors */
  --color-bg-primary: #101010;
  --color-bg-secondary: #151515;
  --color-white: #fff;
  --color-brand-normal: #f9fbe7;
  --color-brand-active: #c2d30d;
  --color-brand-hover: #747f08;

  /* line-height */
  --lh-120: 1.2;
}

.page {
  font-family: var(--font-primary, sans-serif);
  font-weight: 700;
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__menu {
  color: var(--color-brand-normal);
  font-size: 1.563rem;
  line-height: var(--lh-120);
}

.header__menu-buttons {
  display: none;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 103px;
}

.header__link.header__link_active {
  color: var(--color-brand-active);
  cursor: default;
}

.header__link:hover {
  transition: color 0.3s ease;
  color: var(--color-brand-hover);
  cursor: pointer;
}

.header__link.header__link_active:hover {
  color: var(--color-brand-active);
  cursor: default;
}

.header__logo-image {
  width: clamp(2.5rem, 4vw, 4.5rem);
  height: clamp(1.6875rem, 2.7vw, 3rem);
  object-fit: contain;
}

/* burger menu */
.burger__wrap {
  display: none;
  align-items: center;
  gap: 10px;
}

.burger-checkbox {
  display: none;
}

.burger {
  position: relative;
  width: 25px;
  height: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burger::after,
.burger::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  background: var(--color-brand-normal);
  transition: all 0.3s ease;
}

.burger::before {
  top: 0;
  box-shadow: 0 6px 0 var(--color-brand-normal);
}

.burger::after {
  bottom: 0;
}

.burger-checkbox:checked + .burger::before {
  transform: rotate(45deg);
  box-shadow: none;
  top: 6px;
}

.burger-checkbox:checked + .burger::after {
  transform: rotate(-45deg);
  top: 6px;
}

.burger-close-text {
  color: var(--color-brand-normal);
  font-size: 14px;
  font-weight: 400;
  display: none;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* hero section */
.cover {
  position: relative;
  height: 557px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 3.813rem;
  line-height: var(--lh-120);
  color: var(--color-brand-normal);
  padding-top: 155px;
  margin-bottom: 24px;
  max-width: 977px;
}

.cover__description {
  font-weight: 400;
  font-size: 1.563rem;
  line-height: var(--lh-120);
  position: relative;
  z-index: 1;
  color: var(--color-white);
  max-width: 863px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

/* partners section */
.partners {
  margin-top: 40px;
  margin-bottom: 147px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* contact section */
.contact {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 250px;
}

.contact__ellipse {
  position: absolute;
  width: min(2647px, 150vw);
  height: min(1321px, 75vw);
  background: #232323;
  border-radius: 50%;
  filter: blur(50px);
  z-index: 0;
  pointer-events: none;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
}

.contact__content {
  position: relative;
  z-index: 1;
}

.contact__title {
  text-align: center;
  font-size: 3.813rem;
  font-weight: 700;
  line-height: var(--lh-120);
  color: var(--color-brand-normal);
  margin-bottom: 16px;
}

.contact__description {
  text-align: center;
  font-size: 1.563rem;
  font-weight: 400;
  line-height: var(--lh-120);
  color: var(--color-brand-normal);
  margin-bottom: 42px;
}

.contact__buttons {
  display: flex;
  justify-content: center;
  gap: 55px;
  margin-bottom: 96px;
}

.contact__button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  color: var(--color-white);
  line-height: var(--lh-120);
  border-radius: 10px;
  background: #797d46;
  padding: 14px 53px;
}

.contact__button:hover {
  background-color: #929e0a;
}

/* footer section */
.contact-footer {
  display: flex;
  align-items: center;
  height: 127px;
  background-color: var(--color-bg-primary);
  color: var(--color-brand-normal);
}

.contact-footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-footer__company {
  font-size: 1.125rem;
  line-height: var(--lh-120);
}

.contact-footer__address,
.contact-footer__copyright {
  font-weight: 400;
  font-size: 1.125rem;
}

.contact-footer__author {
  text-align: right;
}