/* services section */
.services {
  padding-top: 72px;
  margin-bottom: 100px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.services__card {
  position: relative;
  width: 100%;
  height: 927px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card--building {
  background-image: url(../img/oznakowanie-budynkow.webp);
}
.card--vehicles {
  background-image: url(../img/oklejanie-pojazdow.webp);
}
.card--interiors {
  background-image: url(../img/wyposazenie-wnetrz.webp);
}
.card--signs {
  background-image: url(../img/kasetony-reklamowe.webp);
}

.services__title {
  margin-top: 84px;
  text-align: center;
  color: var(--color-white);
  font-size: 1.938rem;
  line-height: var(--lh-120);
  z-index: 2;
}

.services__card .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #000 0.02%, rgba(0, 0, 0, 0) 49.96%);
  z-index: 1;
  pointer-events: none;
}

/* equipment section */
.equipment {
  background: var(--color-bg-secondary);
  padding-bottom: 150px;
}

.equipment__title {
  padding-top: 152px;
  margin-bottom: 70px;
  max-width: 977px;
  line-height: var(--lh-120);
  font-size: 3.813rem;
  color: var(--color-brand-normal);
}

.equipment__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 25px;
  column-gap: 20px;
}

.equipment__image {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 29px;
}

.equipment__image .overlay {
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.equipment__card-title {
  font-size: 2.438rem;
  color: var(--color-brand-normal);
  line-height: var(--lh-120);
  margin-bottom: 10px;
}

.equipment__description {
  font-size: 1.125rem;
  font-weight: 400;
  max-width: 373px;
  color: var(--color-brand-normal);
  line-height: var(--lh-120);
}

/* portfolio section */
.portfolio {
  padding-top: 100px;
}

.portfolio__title {
  margin-bottom: 50px;
  font-size: 3.813rem;
  color: var(--color-brand-normal);
  line-height: var(--lh-120);
  max-width: 977px;
}

.splide__track {
  padding-bottom: 35px;
}

.portfolio__card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.portfolio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.portfolio__card:hover .portfolio__image {
  transform: scale(1.05);
}

#portfolio .splide__pagination {
  position: relative;
  margin-top: -7px;
}

#portfolio .splide__pagination__page {
  width: 18px;
  height: 18px;
  background-color: #e0e0e0;
  margin: 0 9px 0 0;
}

#portfolio .splide__pagination__page.is-active {
  width: 18px;
  height: 18px;
  transform: scale(1.2);
  background-color: #ecf1b4;
}

/* contact section */
.contact {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 250px;
}

.contact__ellipse {
  position: absolute;
  width: 2647px;
  height: 1321px;
  background: #232323;
  border-radius: 50%;
  filter: blur(50px);
  z-index: 0;
  pointer-events: none;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.contact__content {
  position: relative;
  z-index: 1;
}

.contact__title {
  text-align: center;
  font-size: 3.813rem;
  font-weight: 700;
  line-height: var(--lh-120);
  color: var(--color-brand-normal);
  margin-bottom: 16px;
}

.contact__description {
  text-align: center;
  font-size: 1.563rem;
  font-weight: 400;
  line-height: var(--lh-120);
  color: var(--color-brand-normal);
  margin-bottom: 42px;
}

.contact__buttons {
  display: flex;
  justify-content: center;
  gap: 55px;
  margin-bottom: 96px;
}

.contact__button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  color: var(--color-white);
  line-height: var(--lh-120);
  border-radius: 10px;
  background: #797d46;
  padding: 14px 53px;
}

.contact__button:hover {
  background-color: #929e0a;
}

/* footer section */
.contact-footer {
  background-color: var(--color-bg-primary);
  color: var(--color-brand-normal);
}

.footer__title {
  display: none;
}

.contact-footer__addresses {
  display: flex;
  align-items: center;
  gap: 60px;
}

.contact-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 39px 0;
}

.contact-footer__company {
  font-style: normal;
  font-size: 1.125rem;
  line-height: var(--lh-120);
}

.contact-footer__company + .contact-footer__company {
  text-align: center;
}

.contact-footer__address,
.contact-footer__copyright {
  font-weight: 400;
  font-size: 1.125rem;
}
.contact-footer__rights,
.contact-footer__author {
  text-align: right;
}
