@media screen and (max-width: 1440px) {
  .container {
    max-width: 1240px;
  }

  .header {
    padding-top: 21px;
    padding-bottom: 23px;
  }

  .partners {
    margin-top: 40px;
    margin-bottom: 102px;
  }

  .partners__item img {
    max-width: 71.4%;
    height: auto;
  }

  .header__logo-image {
    width: clamp(53px, 53px + (54 - 53) * ((100vw - 430px) / (1440 - 430)), 54px);
    height: clamp(35px, 35px + (36 - 35) * ((100vw - 430px) / (1440 - 430)), 36px);
  }

  .cover {
    height: clamp(350px, 350px + (418 - 350) * ((100vw - 768px) / (1440 - 768)), 418px);
  }

  .cover__title {
    font-size: clamp(31px, 31px + (61 - 31) * ((100vw - 768px) / (1440 - 768)), 61px);
    max-width: clamp(500px, 500px + (977 - 500) * ((100vw - 768px) / (1440 - 768)), 977px);
    padding-top: 79px;
  }

  .cover__description {
    font-size: clamp(14px, 14px + (25 - 14) * ((100vw - 768px) / (1440 - 768)), 25px);
    max-width: clamp(514px, 514px + (863 - 514) * ((100vw - 768px) / (1440 - 768)), 863px);
  }

  .services__title {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    text-align: center;
    color: var(--color-white);
    font-size: clamp(20px, 20px + (31 - 20) * ((100vw - 768px) / (1440 - 768)), 31px);
    line-height: var(--lh-120);
    z-index: 2;
  }

  .services {
    margin-bottom: 73px;
  }

  .services__card {
    height: 653px;
  }

  .decorative-ellipse {
    top: 700px;
    right: -120px;
  }

  .equipment__title {
    padding-top: 77px;
    margin-bottom: 32px;
    font-size: clamp(1.9375rem, 0.2897rem + 5.7692vw, 3.8125rem);
  }

  .equipment__image {
    margin-bottom: 11px;
  }

  .equipment__card-title {
    margin-bottom: 17px;
  }

  .equipment__description {
    max-width: 265px;
  }

  .portfolio {
    padding-top: 11px;
  }

  .portfolio__title {
    font-size: clamp(1.9375rem, 0.2897rem + 5.7692vw, 3.8125rem);
  }

  .portfolio__dots {
    margin-top: 37px;
  }

  .contact__title {
    padding-top: 12px;
    padding-right: 7px;
    margin-bottom: 4px;
    font-size: clamp(1.9375rem, 0.2897rem + 5.7692vw, 3.8125rem);
  }

  .contact__buttons {
    gap: 23px;
    margin-bottom: 138px;
  }

  .contact__button {
    padding: 5px 14px;
  }

  .contact-footer {
    height: 97px;
  }

  .contact__ellipse {
    width: 1444px;
    height: 721px;
    top: 136%;
    left: 50%;
  }

  .contact__description {
    margin-bottom: 39px;
  }

  .contact-footer__address,
  .contact-footer__copyright {
    font-size: clamp(0.5rem, -0.2951rem + 2.9586vw, 1.125rem);
  }
}

@media screen and (max-width: 1200px) {
  .header__menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }

  .header {
    padding: 12px 30px;
  }

  .cover {
    height: clamp(262px, 262px + (350 - 262) * ((100vw - 430px) / (768 - 430)), 350px);
    background-image: url(../img/hero-baner-768.png);
  }

  .cover__title {
    font-size: clamp(25px, 25px + (31 - 25) * ((100vw - 430px) / (768 - 430)), 31px);
    max-width: clamp(363px, 363px + (500 - 363) * ((100vw - 430px) / (768 - 430)), 500px);
    margin-bottom: 7px;
  }

  .cover__description {
    font-size: 14px;
    max-width: 514px;
  }

  .partners {
    position: absolute;
    top: 23%;
    z-index: 100;
  }

  .services {
    margin-top: 81px;
    margin-bottom: 56px;
  }

  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .services__card {
    width: clamp(176px, 176px + (344 - 176) * ((100vw - 430px) / (768 - 430)), 344px);
    height: clamp(176px, 176px + (344 - 176) * ((100vw - 430px) / (768 - 430)), 344px);
    aspect-ratio: 1 / 1;
  }

  .card--building {
    background-image: url(../img/oznakowanie-budynkow-768.png);
  }
  .card--vehicles {
    background-image: url(../img/oklejanie-pojazdow-768.png);
  }
  .card--interiors {
    background-image: url(../img/wyposazenie-wnetrz-768.png);
  }
  .card--signs {
    background-image: url(../img/kasetony-reklamowe-768.png);
  }

  .services__title {
    font-size: clamp(13px, 13px + (20 - 13) * ((100vw - 430px) / (768 - 430)), 20px);
    top: 83%;
  }

  .services__card .overlay {
    background: linear-gradient(0deg, #000 0.02%, rgba(0, 0, 0, 0) 49.96%);
  }

  .equipment {
    padding-bottom: 75px;
  }

  .equipment__title {
    text-align: center;
    font-size: clamp(1.25rem, -1.7588rem + 12.9412vw, 1.9375rem);
    max-width: 457px;
    margin: 0 auto;
    padding-top: 56px;
    margin-bottom: 34px;
  }

  .equipment__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    text-align: center;
  }

  .equipment__image {
    margin-bottom: 28px;
  }

  .equipment__card-title {
    font-size: clamp(1.25rem, 8.1737rem + -32.2034vw, 2.4375rem);
    margin-bottom: 0;
  }

  .equipment__description {
    font-size: clamp(0.875rem, 2.3326rem + -6.7797vw, 1.125rem);
    max-width: 344px;
  }

  .portfolio__title {
    max-width: 370px;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(1.25rem, -1.7588rem + 12.9412vw, 1.9375rem);
    padding-top: 53px;
    margin-bottom: 33px;
  }

  .portfolio__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: transform 0.3s ease;
  }

  .portfolio__item:not(:nth-child(1)):not(:nth-child(2)) {
    display: none;
  }

  .portfolio__dots {
    margin-top: 33px;
    margin-bottom: 199px;
  }

  .portfolio__dot {
    width: 10px;
    height: 10px;
  }

  .contact__title {
    padding-top: 15px;
    padding-right: 19px;
    font-size: clamp(1.25rem, -1.7588rem + 12.9412vw, 1.9375rem);
  }

  .contact__description {
    padding-right: 10px;
    font-size: clamp(0.6875rem, 0.449rem + 0.8876vw, 0.875rem);
    margin-bottom: 36px;
  }

  .contact__buttons {
    margin-bottom: 120px;
  }

  .contact-footer {
    height: 128px;
  }

  .contact-footer__company {
    font-size: 0.5rem;
  }

  .contact-footer__address,
  .contact-footer__copyright {
     font-size: 0.5rem;
  }
}

@media screen and (max-width: 430px) {
  .container {
    max-width: 370px;
  }

  .cover__title {
    font-size: 25px;
    max-width: 363px;
    text-align: center;
  }

  .cover__description {
    display: none;
  }

  .header__logo-image {
    width: clamp(54px, 54px + (72 - 54) * ((100vw - 1440px) / (1920 - 1440)), 72px);
    height: clamp(36px, 36px + (48 - 36) * ((100vw - 1440px) / (1920 - 1440)), 48px);
  }

  .cover {
    min-height: clamp(418px, 418px + (557 - 418) * ((100vw - 1440px) / (1920 - 1440)), 557px);
  }

  .services__title {
    font-size: 13px;
  }

  .services__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .services__card {
    width: calc((100vw - 40px) / 2);
    height: calc((100vw - 40px) / 2);
    aspect-ratio: 1 / 1;
  }

  .equipment__title {
    text-align: center;
  }
}
