/* header */
.header__back-link {
  color: var(--color-brand-normal);
  font-size: 1.563rem;
  font-weight: 700;
  line-height: var(--lh-120);
}

/* hero section */
.hero__description {
  max-width: 969px;
}

/* services section */
.services__item {
  display: flex;
  gap: 162px;
  align-items: center;
  margin-bottom: 84px;
}

.services__image {
  max-width: 688px;
  max-height: 419px;
  flex-shrink: 0;
}

.services__info {
  color: var(--color-brand-normal);
  line-height: var(--lh-120);
  flex: 1;
}

.services__title {
  font-size: 3.063rem;
  margin-bottom: 17px;
}

.services__description {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: var(--lh-120);
}

/* advanatges section */
.advantages {
  margin-bottom: 80px;
}

.advantages .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages__text {
  font-weight: 400;
  color: #f9fbe7;
  line-height: var(--lh-120);
}
.advantages__title {
  max-width: 865px;
  font-size: 2.438rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.advantages__paragraph {
  font-size: 1.125rem;
  max-width: 830px;
  margin-bottom: 15px;
}

.advantages__accent {
  font-weight: 700;
}

.advantages__img {
  width: 100%;
  max-width: 688px;
}

/* cooperation section */
.cooperation {
  background-color: #151515;
  padding: 57px 0;
}

.cooperation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cooperation__list {
  display: flex;
  align-items: center;
  gap: 147px;
}

.cooperation__item {
  width: 96px;
  height: 120px;
}

.cooperation__paragraph {
  color: #e0e0e0;
  font-size: 1.938rem;
  font-weight: 400;
  line-height: var(--lh-120);
  max-width: 688px;
}
